<!DOCTYPE html>
<html>
<head>
    <title>Datagrid</title>
    <style>
        /* For the detail expander */
        .detail {
            background: #e0f2be;
            color: #00a5b5;
        }
    </style>

    <!-- Template for the detail view -->
    <script type="text/html" id="detailTemplate">
        <h1>{{name}}</h1>
        <strong>Registered:</strong> {{registered}}
        <p>{{about}}</p>
    </script>

    <!-- Template for the action renderer -->
    <script type="text/html" id="actionRendererTemplate">
        <button class="btn btn-mini">Delete</button>
    </script>

    <!-- Libraries -->
    <script type="application/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="../node_modules/underscore/underscore-min.js"></script>
    <script type="application/javascript" src="../node_modules/backbone/backbone-min.js"></script>

    <!-- Bootstrap  -->
    <script type="application/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />

    <!-- Test Data (stored in variable data) -->
    <script type="application/javascript" src="../data.js"></script>

    <!-- DataGrid -->
    <link rel="stylesheet" href="../dist/DataGrid.css" />
    <script type="application/javascript" src="../dist/DataGrid.js"></script>

    <!-- Initialize the web page and application specific code follows -->
    <script type="application/javascript" src="ActionRenderer.js"></script>
    <script type="application/javascript" src="DetailRenderer.js"></script>

    <script type="application/javascript">
        var data = new Backbone.Collection( data ),
            columns, grid;

        /**
         * Initialize all the data grid columns
         */
        columns = new DataGrid.ColumnList( [
            { fieldName: 'name', label: 'Name' },
            {
                fieldName: 'age', label: 'Age',
                sort: DataGrid.Column.SORT.numerical
            },
            {
                fieldName: 'isActive',
                label: 'Active',
                functionRenderer: function( model, column ) {
                    return model.get( 'isActive' ) === true ? 'Yes' : '<em>No</em>';
                },
                sort: function( fieldName, model1, model2 ) {
                    var v1 = model1.get( fieldName ),
                            v2 = model2.get( fieldName );

                    if ( v1 && !v2 ) {
                        return 1;
                    } else if ( !v1 && v2 ) {
                        return -1;
                    } else {
                        return 0;
                    }
                }
            },
            {
                label: '',
                cellRenderer: ActionRenderer,
                priority: 1
            }
        ] );

        /**
         * Load the grid up and display here.
         */
        $( window ).ready( function() {
            // instantiate the application view and append datagrid.
            grid = new DataGrid( {
                collection: data,
                columns: columns,
                height: '400px',
                detailsClass: DetailRenderer
            } );

            $( '.grid-here' ).append( grid.render().$el );
        } );
    </script>
</head>
<body>
    <div class="container">
        <div class="masthead">
            <h3 class="muted">DataGrid</h3>
        </div>

        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1>Finally,</h1>
            <p class="lead">There's a grid that displays your Backbone.Collection data the way you want it.  DataGrid utilizes all the great features in BackboneJS to offer a <em>dynamic</em> user experience and is easily extensible!</p>
            <a class="btn btn-large btn-success" href="#">Download Now!</a>
        </div>

        <hr>

        <div class="row-fluid">
            <div class="span4">
                <h2>&nbsp;</h2>
                <p>DataGrid will resize based on its container.</p>
                <p><a class="btn" href="#">View features &raquo;</a></p>
            </div>
            <div class="span8">
                <h2>Sample Data</h2>
                <div class="grid-here">

                </div>
            </div>
        </div>

        <hr>

        <div class="footer">
            <p>&copy; Derek Hardison 2014</p>
        </div>
    </div>
</body>
</html>
