@import 'Variables.scss';

$border-width: 1px;
$arrow-size: 9px;

.datagrid {
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;

  -webkit-user-select: none;
  cursor: default;

  border: $border-width solid $light-gray;

  .row {
    margin: 0;
    border-bottom: $border-width solid $light-gray;
    position: relative;
    cursor: pointer;

    /** Each cell (table -> ... -> row -> cell) **/
    > .short > .cell, .header.cell {
      display: inline-block;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      box-sizing: border-box;
      padding: 0 $unit;
      line-height: 3em;
      height: 3em;
    }

	> .detail {
	  padding: $unit;
	}
  }

  .header.row {
    font-weight: bold;

    .asc:after {
      font-size: $arrow-size;
      content: '  ▼';
    }

    .desc:after {
      font-size: $arrow-size;
      content: '  ▲';
    }
  }

  .body {
    overflow-y: scroll;

    > .row > .short {
      background: $off-white;

      /** Last cell (table -> ... -> row -> cell) **/
      &:last-child {
        border-right: none;
      }

      &:hover:nth-child(even), &:hover:nth-child(odd) {
        background-color: $light-gray;
        color: $slate;
        cursor: pointer;
      }
    }
  }
}
