$teal: #00a5b5;
$slate: #425363;
$warm-gray: #555559;
$muted-gray: #768591;
$light-gray: #eeeff0;
$off-white: #f7f7f7;
$orange: #ff8300;
$red: #e33;
$purple: #520975;
$blue: #004a97;
$white: #ffffff;
$border-color: #ddd;
$unit: 1em;
