<!DOCTYPE html>
<html>
<head>
    <title>Datagrid</title>
    <style>
        body {
            background: #F8F8F8;
            font-size: 12px;
        }

        body > div {
            border: 1px solid #E8E8E8;
            background: #EFEFEF;
            width: 90%;
            margin: auto;
            padding: 10px;
        }

        /* For the detail expander */
        .detail {
            background: #e0f2be;
            color: #00a5b5;
        }
    </style>

    <!-- Template for the detail view -->
    <script type="text/html" id="detailTemplate">
        <h1>{{name}}</h1>
        <strong>Registered:</strong> {{registered}}
        <p>{{about}}</p>
    </script>

    <!-- Libraries -->
    <script type="application/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="node_modules/underscore/underscore-min.js"></script>
    <script type="application/javascript" src="node_modules/backbone/backbone-min.js"></script>

    <!-- Test Data (stored in variable data) -->
    <script type="application/javascript" src="data.js"></script>

    <!-- DataGrid -->
    <link rel="stylesheet" href="dist/DataGrid.css" />
    <script type="application/javascript" src="dist/DataGrid.js"></script>
    <script type="application/javascript">
        var data = new Backbone.Collection( data ),
            columns = new DataGrid.ColumnList( [
                { fieldName: 'name', label: 'Name' },
                {
                    fieldName: 'age', label: 'Age',
                    sort: DataGrid.Column.SORT.numerical
                },
                { fieldName: 'gender', label: 'Gender' },
                { fieldName: 'balance', label: 'Balance' },
                {
                    fieldName: 'isActive',
                    label: 'Active',
                    functionRenderer: function( model, column ) {
                        return model.get( 'isActive' ) === true ? 'Yes' : '<em>No</em>';
                    },
                    sort: function( fieldName, model1, model2 ) {
                        var v1 = model1.get( fieldName ),
                            v2 = model2.get( fieldName );

                        if ( v1 && !v2 ) {
                            return 1;
                        } else if ( !v1 && v2 ) {
                            return -1;
                        } else {
                            return 0;
                        }
                    }
                }
            ] ),
            grid, details;

        /**
         * Optional renderer to display additional information
         *  when a row is clicked on.
         */
        details = Backbone.View.extend( {
            tagName: 'div',
            className: 'detail', // always use the detail className.

            // compile the template specified in <head> above.
            template: undefined,

            initialize: function() {
                // use {{}} to declare variables.
                _.templateSettings = {
                    interpolate: /\{\{(.+?)\}\}/g
                };

                // compile the template.
                this.template = _.template( $( '#detailTemplate').html() );
            },

            /**
             * Render the template above with the attributes from
             *  this.model (passed in automatically by the DataGrid).
             *
             *  Always return `this`!
             */
            render: function() {
                this.$el.html( this.template( this.model.attributes ) );
                return this;
            }
        } );

        /**
         * Load the grid up and display here.
         */
        $( window ).ready( function() {
            // instantiate the application view and append datagrid.
            grid = new DataGrid( {
                collection: data,
                columns: columns,
                height: '400px',
                detailsClass: details
            } );

            $( '.site-content' ).append( grid.render().$el );
        } );
    </script>
</head>
<body>
    <div>
        <h1>Grid</h1>

        <div class="site-content">
            <!-- Grid will appear here -->
        </div>
    </div>
</body>
</html>
